.font {
  font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.white {
  color: white;
}

.logo {
  margin: 1em;
  cursor: pointer;
  max-width: 25%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-content: right;
  margin: 1em;
}

.list {
  width: 50%;
}

.list ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.list li a {
  padding: 1em;
}

@media screen and (max-width: 600px) {
  .list {
    display: none;
  }

  .flex {
    justify-content: center;
  }

  .logo {
    max-width: 50%;
  }
}

@media screen and (min-width: 3000px) {
  .logo {
    max-width: 20%;
  }
  .list {
    font-size: x-large;
  }
}