.font {
  font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.white {
  color: white;
}

.logo {
  margin: 1em;
  cursor: pointer;
  max-width: 25%;
}
.logo:active {
  background-color: none;
}

.navPosition {
  display: flex;
  justify-content: space-between;
  align-content: right;
  margin: 1em;
}

.nav {
  width: 50%;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav li a {
  padding: 1em;
}

@media screen and (max-width: 600px) {
  .navPosition {
    display: block;
    margin: 0em;
  }

  .nav {
    display: block;
    border-top: 1px black solid;
    width: 100%;
    padding: 0;
  }
  .nav ul {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .flex {
    justify-content: center;
  }

  .logo {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 3000px) {
  .logo {
    max-width: 20%;
  }
  .nav {
    font-size: x-large;
  }
}