.font {
  font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.white {
  color: white;
}

.logo {
  margin-left: 1em;
  font-size: 2em;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.list ul {
  list-style-type: none;
  display: flex;
}

.list li a {
  padding: 1em;
  margin-right: 5em;
}

@media screen and (max-width: 600px) {
  .list {
    display: none;
  }

  .flex {
    justify-content: center;
  }
}