html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid {
  margin: 1em;
  display: grid;

  grid-template-rows: 80vh 80vh 10vh 80vh 10vh 80vh;

  grid-template-areas:
  'hero hero'
  'meet-image meet'
  'services-title services-title'
  'services services'
  'contact-title contact-title'
  'contact contact';
}

@media only screen and (max-width: 600px){
  .grid {
    margin: 0;

    grid-template-rows: 80vh 80vh 10vh 80vh 10vh 80vh;

    grid-template-areas:
    'hero hero'
    'meet meet'
    'services-title services-title'
    'services services'
    'contact-title contact-title'
    'contact contact';
  }

  .meet-image {
    display: none;
  }
}

.grid-item {
  background-color: gray;
  border: 1px solid black;
}

.hero {
  grid-area: hero;
}
.meet-image {
  grid-area: meet-image;
}
.meet {
  grid-area: meet;
}
.services-title {
  grid-area: services-title;
}
.services {
  grid-area: services;
}
.contact-title {
  grid-area: contact-title;
}
.contact {
  grid-area: contact;
}